@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* --color-base: var(--base); */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-faint: var(--faint);
  --color-dim: var(--dim);
  --color-muted: var(--muted);
  --color-bright: var(--bright);
  --color-accent: var(--accent);
  --color-border-solid: var(--border-solid);
  --color-shade-hover: var(--shade-hover);
  --color-label: var(--label);
  --color-highlight-blue: var(--highlight-blue);
  --color-highlight-yellow: var(--highlight-yellow);

  --text-xxs: 11px;

  --tracking-prose: -0.8px;

  --spacing-header: var(--header-height);
}

:root {
  --accent: rgba(255, 108, 2, 1);
  --accent-transparent: rgba(255, 108, 2, 0.2);
  --highlight-blue: #0072e4;
  --highlight-yellow: #ffcc49;

  /* bg */
  /* --base: #fff; */
  --background: #fafafa;
  --background-raw: 250, 250, 250;

  /* text */
  --foreground: var(--muted);
  --faint: #909090;
  --muted: #646464;
  --dim: #303030;
  --bright: #040404;
  --label: #fafafa;

  /* border */
  --border-solid: #d9d9d9;

  /* action */
  --shade-hover: #e3e3e3;

  --header-height: 120px;

  @media (min-width: 1024px) {
    --header-height: 64px;
  }

  ::selection {
    background-color: var(--accent-transparent);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg */
    /* --base: #0c0c0c; */
    --background: #040404;
    --background-raw: 4, 4, 4;

    /* text */
    --foreground: var(--muted);
    --faint: #646464;
    --muted: #909090;
    --dim: #dedede;
    --bright: #fafafa;
    --label: #fafafa;

    /* border */
    --border-solid: #252525;

    /* action */
    --shade-hover: #1b1b1b;
  }

  .light-only {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .dark-only {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
  letter-spacing: -0.02em;
  --dash-size: 1px;

  a:focus:not(.no-focus),
  input:focus:not(.no-focus),
  button:focus:not(.no-focus) {
    outline-style: dashed;
    outline-color: var(--accent);
    outline-offset: 2px;
    outline-width: 2px;
  }

  input:focus:not(.no-focus) {
    outline: none;
  }

  input,
  input::placeholder {
    letter-spacing: normal;
  }

  .divider {
    height: 1px;
    background: linear-gradient(
      to right,
      transparent 50%,
      var(--color-faint) 50%
    );
    background-size: 4px 2px;
  }

  .divider-md {
    height: 1px;
    background: linear-gradient(
      to right,
      transparent 50%,
      var(--color-faint) 50%
    );
    background-size: 8px 4px;
  }

  .dashed {
    background-image:
      repeating-linear-gradient(
        0deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      ),
      repeating-linear-gradient(
        90deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      ),
      repeating-linear-gradient(
        180deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      ),
      repeating-linear-gradient(
        270deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      );
    background-size:
      var(--dash-size) 100%,
      100% var(--dash-size),
      var(--dash-size) 100%,
      100% var(--dash-size);
    background-position:
      0 0,
      0 0,
      100% 0,
      0 100%;
    background-repeat: no-repeat;
  }
}

svg text,
svg tspan {
  cursor: default;
  user-select: none;
}
